<div class="container-fluid ">
    <div class="d-flex justify-content-center">
    <div class="form-group col-sm-4" style="padding-right: 5px;">
        <label>Company name</label>
        <input type="name" class="form-control">
    </div>
    <div style="padding-right: 5px;">
        <button type="button" class="btn btn-primary"  (click)="submit()">Submit</button>
        
    </div>
    <div>
        <button type="button" class="btn btn-warning" *ngIf="scan">Scan</button>
    </div>
</div>
    

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Company</th>
                <th scope="col">User</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rows">
                <th>{{data.CompanyName}}</th>
                <td>{{data.user}}</td>
            </tr>
        </tbody>
    </table>
</div>